.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

.searchField {
  width: 98%;
  margin: 1%;
}